* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  min-height: 100vh;
  background: #000;
}
.container {
  position: relative;
  max-width: 1350px;
  width: 100%;

  margin: 50px auto;
  padding: 20px;
  border-radius: 14px;
}
button {
  padding: 10px 10px;
  border: none;
  border-radius: 20px;
  transition: 0.3s;
  margin: 15px;
  width: 10%;
  font-weight: 700;
  box-shadow: inset 0 -3em 3em rgba(202, 199, 202, 0.3), 0 0 0 2px white,
    0.3em 0.3em 1em rgba(3, 0, 4, 0.6);
  font-size: 16px;
}
.active {
  background: blue;
  color: white;
}
.filter_buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  flex-grow: 1;
}

/* image card */
.filterable-Card {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
}
.card {
  flex-basis: 300px;
  background-color: rgb(56, 54, 62);
  padding: 3px;
  border-radius: 8px;
  width: 90%;
  margin: 10px 10px;
  flex-grow: 1;
  
}
.card.hide{
    display: none;
}
.card-img {
  object-fit: fill;
  border-radius: 20px;
  margin-left: 10px;
  width: 90%;
  margin-top: 10px;

}
.card-body {
  color: white;
  padding: 3px;
 margin-left: 10px;
}
.card-title{
    font-size: 1.2rem;
    margin-left: 10px;
    text-align: center;
    font-weight: 500;


}
.card-text{
    font-size: 0.7rem;
    text-align: center;
    color: rgba(183, 201, 201, 0.733);
}

/* Media querry */

@media only screen and (max-width: 768px) {
    button {
    
        border: none;
        border-radius: 20px;
        transition: 0.3s;
        margin: 13px;
        width: 14%;
        font-weight: 700;
        box-shadow: inset 0 -3em 3em rgba(202, 199, 202, 0.3), 0 0 0 2px white,
          0.3em 0.3em 1em rgba(3, 0, 4, 0.6);
        font-size: 16px;
      }
  }

  @media only screen and (max-width: 425px) {
    button {
    
        border: none;
        border-radius: 20px;
        transition: 0.3s;
        margin: 3px;
        width: 40%;
        font-weight: 700;
        box-shadow: inset 0 -3em 3em rgba(202, 199, 202, 0.3), 0 0 0 2px white,
          0.3em 0.3em 1em rgba(3, 0, 4, 0.6);
        font-size: 10px;
      }

      .filter_buttons {
        display: flex;
        align-items: center;
        gap: 6px;
        flex-wrap: wrap;
        flex-grow: 1;
      }
  }


  /* footer */



  .site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}